*{
    margin: 0;
    padding: 0;
}

/* Tipografía
Principal: Impact.
Secundaria: Renogare regular.
Complementario subtitulos: Lucida Fax.
Párrafos: Acumin variable concept, Myriad Pro, Minion Variable Concept,Lucida Fax semibold */